body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff0f5;
    font-family: Arial, sans-serif;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #f8e1e7;
    text-align: center;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.circle p {
    margin: 20px 0;
    font-size: 18px;
    color: #d6336c;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #d6336c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a60034;
}

/* Responsive adjustments */
@media (max-width: 480px) {
    .circle {
        width: 80%;
        height: auto;
        padding: 10px;
    }

    .circle p {
        font-size: 16px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

